.home{
    width: 100%;
    height: auto;
    padding-top: 8rem;
}
.momWelcomeDiv {
    width: 100%;
    height: 50rem;
}
.welcomeDiv {
    width: 100%;
    height: 50rem;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}
.hhy{
    background: url('../../../public/images/1324855.jpg');
}
.lki{
    background: url('../../../public/images/pizza-slices-food.jpg');
}
.tgf{
    background: url('../../../public/images/french-food.webp');
}
.welcomeDiv h3 {
    font-size: 3rem;
    color: var(--first-color);
    text-align: center;
    margin-top: 9rem;
    backdrop-filter: blur(20px);
}
.welcomeDiv p{
    color: var(--second-color);
    font-size: 2rem;
    text-align: center;
    margin-top: 1rem;
    backdrop-filter: blur(20px);
}
.welcomeBtn {
    width: 12rem;
    height: 5rem;
    border-radius: 10px;
    background: var(--second-color);
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    color: var(--first-color);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 3rem;
    cursor: pointer;
    transition: all linear 0.3s;
}
.welcomeBtn:hover{
    background: var(--first-color);
    color: var(--second-color);
    border: 5px solid var(--second-color);
    outline: 5px solid var(--second-color);
    border-radius: 0;
}
.welcomeBtn:active{
    scale: 85%;
}
.homeSelectionFood{
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.homeSelectionFoodSon {
    width: 40%;
    height: 20rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -5px var(--shadow-color);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    color: var(--first-color);
    transition: all linear 0.2s;
    cursor: pointer;
    padding: 2rem;
}
.gtr{
    background: url('../../../public/images/360_F_589704609_b84XoVDaeopctL2Iz0lG4IQT86Dzm7xz.jpg');
}
.jry{
    background: url('../../../public/images/What-Makes-Oriental-Cuisine-Appealing.jpg');
}
.homeSelectionFoodSon:hover{
    scale: 102%;
}
.homeSelectionFoodSon:active{
    scale: 98%;
}
.home hr {
    width: 90%;
    height: 2px;
    background-color: var(--second-color);
    margin: 0 auto;
}