.profilePage {
  width: 100%;
  height: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: row-reverse;
  padding-top: 8rem;
  background: var(--first-color);
  background-position: center !important;
  background-size: image !important;
  background-repeat: no-repeat !important;
  padding-bottom: 10rem;
}
.leftProfilePage {
  direction: rtl;
  width: 50%;
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.rightProfilePage {
  width: 50%;
  height: 90vh;
}
.rightProfilePage {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ProfilePageimage {
  width: 40rem;
  height: 40rem;
  border-radius: 50%;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: image !important;
  margin-bottom: 7rem;
  margin-top: 3rem;
}
.rightProfilePage p {
  font-size: 1.5rem;
  color: gray;
  backdrop-filter: blur(47px);
  padding: 1rem;
  direction: rtl;
}
.leftProfilePage {
  padding-left: 2rem;
}

.moreBtnProfilePage {
  width: 15rem;
  height: 5rem;
  border-radius: 5px;
  background: var(--second-color);
  color: #fff;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5rem;
  transition: all linear 0.3s;
  cursor: pointer;
}
.moreBtnProfilePage:hover {
  background: var(--first-color);
  color: var(--second-color);
  border: 2px solid var(--second-color);
}
.UserInfo {
  direction: rtl;
  width: 80%;
  height: 40rem;
  margin: 5rem 5rem 5rem 0;
  border-radius: 0px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  backdrop-filter: blur(9px);
}
.UserInfo {
  box-shadow: 0px 0px 10px -7px #000;
}
.UserInfo label {
  font-size: 2rem;
  color: var(--shadow-color);
  font-weight: 600;
  height: 2.5rem;
  font-family: system-ui;
}
.frfr {
  margin-bottom: 3rem;
}
.editModalBtn {
  width: 5rem;
  height: 5rem;
  background: var(--second-color);
  color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -22rem;
  right: -13rem;
  border-radius: 50%;
  padding: 2rem;
  cursor: pointer;
  transition: all linear 0.3s;
}
.editModalBtn:hover {
  background: var(--first-color);
  color: var(--second-color);
}
.editModalBtn:active {
  background: var(--second-color);
  color: var(--first-color);
}
