@media screen and (max-width: 918px) {
    .textDiv p {
        font-size: 2.4rem;
    }
}
@media screen and (max-width: 770px) {
    .textDiv p {
        font-size: 2rem;
    }
}
@media screen and (max-width: 624px) {
    .textDiv p {
        font-size: 2rem;
    }
    .textDiv{
        width: 30rem;
    }
}