.CmsUsers {
  width: 100%;
  height: 100vh;
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
}
.frfre{
  padding: 1rem 2rem;
}
.dsddfs{
  height: 8rem;
}
.frfre{
  width: 84rem !important;
}
.dsd{
  overflow-x: scroll;
}
.rgg{
  width: 10rem !important;
}
.dffssf{
  padding: 0 1rem;
}