.product {
  width: 100%;
  height: auto;
  padding: 12rem 0 3rem 0;

}
.underLine{
    width: 96%;
    height: 1px;
    background: var(--forth-color);
    margin: 0 auto;
    margin-bottom: 10rem;
    border: 1px var(--second-color);
}
